/target
*.wav
.venv/
*/.venv/*
*/.venv/
*/.venv
*/.idea/
*/.idea/*
*/.idea
*/__pycache__/
*/__pycache__/*
*/__pycache__
*/.pytest_cache/
*/.pytest_cache/*
*/.pytest_cache
*/.vscode/
*/.vscode/*
*/.vscode
*/.mypy_cache/
*/.mypy_cache/*
*/.mypy_cache
*/.ruff/
*/.ruff/*
*/.ruff
*/htmlcov/
*/htmlcov/*
*.pyc
.coverage